service.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://document.convertor.org" targetNamespace="http://document.convertor.org">
    <wsdl:types>
        <xsd:schema targetNamespace="http://document.convertor.org">
          <xsd:complexType name="ares">
            <xsd:sequence>
              <xsd:element name="return" nillable="true" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <message name="convert2ImageRequest">
        <part name="file" type="xsd:string"/>
        <part name="ext" type="xsd:string"/>
        <part name="imageType" type="xsd:string"/>
        <part name="compression" type="xsd:string"/>
        <part name="height" type="xsd:int"/>
        <part name="width" type="xsd:int"/>
    </message>
    <message name="convert2ImageResponse">
        <part name="convert2ImageReturn" type="tns:ares"/>
    </message>
    <message name="convert2PdfRequest">
        <part name="file" type="xsd:string"/>
        <part name="ext" type="xsd:string"/>
        <part name="compression" type="xsd:string"/>
    </message>
    <message name="convert2PdfResponse">
        <part name="convert2PdfReturn" type="tns:string"/>
    </message>
    <wsdl:portType name="convertorPortType">
        <wsdl:operation name="convert2Image">
            <wsdl:input message="tns:convert2ImageRequest"/>
            <wsdl:output message="tns:convert2ImageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="convert2Pdf">
            <wsdl:input message="tns:convert2PdfRequest"/>
            <wsdl:output message="tns:convert2PdfResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <binding name="convertorBinding" type="tns:convertorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="convert2Image">
            <soap:operation soapAction="http://localhost/service/service.php" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convert2Pdf">
            <soap:operation soapAction="http://localhost/service/service.php" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <wsdl:service name="convertor">
        <wsdl:port name="convertorPort" binding="tns:convertorBinding">
            <soap:address location="http://localhost/service/service.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
